button, div, form, input {
	margin: 5px;
}

img {
	max-width: 200px;
	max-height: 200px;
}

label {
    color: yellow;
    background-color: black;
}

.btn-default {
    color: #000;
    font-size: medium;
}

body {
	background-image: url("../images/warpSpeed.png");
    font-family: 'Star Jedi';
    background-repeat: no-repeat;
    background-size: cover;
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
    color: yellow;
    background-color: black;
}
